:root{
    --color1: #fff;
    --color2:#964B00;
    --color3: rgb(240, 190, 141);
    --color4: #fdb874;
    --color5:#f5d1ae;
    --color6: rgb(246, 190, 134);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


main{
    min-height:100vh;
    background-color: var(--color1);
}

body {
    height:100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* css-navbar */
.container{
    width:100%;
    height:70px;
    display:flex;
    align-items: center;
    position: fixed;
    z-index:99;
    top:0;
    left:0;
    box-shadow:  0px 2px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: var(--color2);
}

.container header{
    flex:1;
    margin-left:50px;
}

.container > header > a{
    font-weight: bold;
    text-decoration: none;
    color:var(--color1);
}

.container .search-box{
    flex:1;
    position: relative;
}

.search-box input{
    width: 100%;
    height: 40px;
    outline:none;
    border-radius:30px;
    background:var(--color1);
    font-size: 16px;
    padding-left:15px;
    padding-right:40px;
}

.search-box button{
    cursor: pointer;
    width: 40px;
    height:40px;
    border-radius: 30px;
    border:none;
    position:absolute;
    top:0;
    right:0;
    transform:scale(0.9);
    background:brown;
}

.container ul{
    flex:2;
    display:flex;
    justify-content: space-evenly;
}

.container ul li{
    list-style:none;
}

.container ul li a,
.container ul li {
    text-decoration: none;
    color:var(--color1);
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
}

.container ul li a:hover,
.container ul li:hover{
    border-bottom: 2px solid red;
}

#chk1{
    display:none;
}

.container .menu{
    font-size: 2.5em;
    display:none;
} 


/* ================================================ */

 .output{
    width: 50%;
    height: 50%;
    padding-top: 5%;
    z-index:10;
    position: fixed;
    overflow: auto;
}

.output ul .outputed{
    text-align: center;
    line-height: 1.8;
} 

.content{
    max-width: 100%;
    margin:0 30px;
    padding: 0 1rem;
    text-align: justify;
}

.content ul,
.searched{
    margin:100px 0 0 0;
    padding:0;
    list-style: none;
}

.content ul h1{
    margin-bottom: 35px;
}

.content ul p:nth-child(1){
    line-height: 2.7rem;
    font-size: 25px;
}

.content figure{
    margin: 0 0 0.5rem 0;
    padding: 0;
    max-height: 450px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}

.content figure  img {
    margin-bottom: -4px;
    width: 100%;
    object-fit: cover;
}

.reader p{
    color:var(--color1);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
}

.reading > .quotes > h1{ 
    color:  var(--color2);
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.2;
    font-size: 3.5rem;
    font-weight: 700;
}

.reading > .quotes .spacer {
    width: 100%;
    padding-top: 1.5rem;
}

.read p{
    width:45%;
    text-align: left;
    font-size: 25px;
    padding-left: 30px;
} 

.reading ul li:nth-child(2) p{
    font-size:14px;
    color:yellow;
}

.world-library{
    margin:0;
    max-width: 100%;
    overflow: hidden;
}

.world-library-books{
    font-size: 40px;
    background-image:linear-gradient(#fff, #f5d1ae 56%, #fdb874);
}

@keyframes slideText{
    0% {
      transform: translateX(-100%);
    }
    30% {
      transform: translateX(50%);
    }
    100% {
      transform: translateX(100%);
    }
}
  
.slide-text {
    margin-top:2.5%;
    animation: slideText 15s infinite;
    padding-bottom:1%;
    font-size: 20px; 
}

.world-library-books > h2{
    margin-top:0;
    margin-bottom: 0;
    line-height: 1.2;
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
}

.world-library-books .everything-else {
    width:100%;
    height: 70%;
    display:flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.world-library-books .everything-else span{
    width:20%;
    height:100%;
    border: 1px solid black;
    background-color: pink;
}

.world-library > .library-shelf{
    margin-top:0;
    height:60%;
    width:100%;
    background-color:#964B00;
    border: 1px solid black;
}

.world-library > .room{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 6.3%;
    font-family:cursive;
    font-size: 20px;
    color:#fff;
}
.content ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: transparent;
}

.romance{
    width: 100%;
    height:80vh;
    background-color:var(--color1);
}

.romanceFiction  span {
    border: 1px solid #ccc;
    border-radius:30px;
    max-height:16rem;
    margin-top: 5%;
    font-size: 25px;
    padding: 2%;
    text-align: center;
}

.romance div, 
h2{
    font-size: 19px;
}

.romance .romanceFiction {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap:2%;
    margin: 0 5% 2% 5%;
}

.romance .loveScience{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap:2%;
    margin: 0 5% 2% 5%;
}

.loveScience span {
    border: 1px solid #ccc;
    border-radius:30px;
    max-height:16rem;
    margin-top: 5%;
    font-size: 30px;
    padding: 2%;
    text-align: center;  
}

.romance  .loveScience  span:hover,
.romance  .romanceFiction span:hover{
    background-color: var(--color5);
    transition: 0.5s, ease, 2s;
}

.spaceBar{
    height: 10%;
}

footer{
    width: 100%;
    background-color: #964B00;
    padding-top:20px;
    font-size: 24px;
    padding-left: 60px;
    padding-right: 29px;
    padding-bottom: 50px;
}

footer header{
    color: var(--color1);
    font-weight: bold;
    text-align: center;
    margin-bottom:25px;
}

footer .footerCompany .genres .list{
    margin-bottom: 25px;
    color: var(--color1);
    text-transform: capitalize;
    line-height: 1.5;
    cursor: pointer;
}

footer .footerCompany .genres .list div:hover{
  color: var(--color6);
}

.forLogin > div:hover{
    color:#f5d1ae;
}

.space{
    padding:30px;
}

.subscribe{
    width:100%;
    display:flex;
    justify-content: left;
    gap:2%;
    padding-bottom:25px;
}

.subscribe p{
   font-size: 20px;
   line-height: 1;
   color:var(--color1);
   text-transform: justify;
}

.subscribe form {
   flex:1;
}

.subscribe form input{

    padding:5px 5px;
    width:50%;
    margin-right: 8px;
    border: 1px solid black;
    border-radius:5px;
}

.subscribe form button{
    border-radius:10px;
    padding:5px;  
    border:none; 
}

.mains{
    min-height: 100vh;
    width: 100%;
    display:flex;

}


.mains .formContainer{
    flex:2;
}

.mains .formContainer{
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .mains .formContainer .formix{ 
    padding: 2% 5%;
    width:500px;
    border: 1px;
  
 }

 /* . */
 
 /* .mains .formContainer .formix .input-InputName, .input-Input-mail, .input-Input-passkey{
    width: 100%;
    background-color: #fff;
    padding: 10px 16px;
    border: 1px solid black;
    border-radius: 4px;
 } */
 
 .mains .formContainer .formix input {
    border: none;
    width: 100%;
    background-color: #fff;
    padding: 10px 6px;
    border: 1px solid black;
    border-radius: 4px;
 }

 .mains .formContainer .formix input:focus,
 .subscribe form input:focus {
    outline-color: #fdb874;
 }
 
 
 .input-mail, .input-passkey, .submission{
    margin-top: 32px;
 }
 
 .submission{
    background-color: var(--color3);
    text-align: center;
    padding:7px 20px;
    width: 100%;
    border-radius: 20px;
    border:none;
 }
 
 .submission:hover{
    background-color: var(--color6);
 } 

 /* about us */
 .about{
    margin:100px 70px;
    padding: 0 1rem;
    text-align: justify;
    line-height:2.0;
    font-size:16px;
}

.about header{
    text-align: center;
    font-weight:bold;
}

.about h2{
    text-align: center;

}

/* ========================================================
=========================================================== */
.results{
  text-align: center;
  line-height: 1.6;
}

.results header{
    font-weight: bold;
}

.results ul img{
    padding-top: 5px;
    height:200px;
}

/* ========================================================
=========================================================== */

 /* ================================== */
 
 @media(max-width:850px){
    .search-box button{
        position: absolute;
    }
    
    .container ul{
        top:70px;
        position:fixed;
        gap:5;
        left:50%;
        z-index:99;
        flex-direction: column;
        align-items: center;
    }

    .container .menu{
        display:block;
        width: 100px;
        text-align: center;
        color: var(--color1);
    }
    
    .taged,
    .tag{
        transition: right 0.5s linear;
        height:100%;
        width: 100%;
        background-color:rgba(0,0,0,0.5);
    }
}


@media(min-width: 850px){
    .content ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        background-color: transparent;
    }

    .taged,
    .tag{
        display: flex;
        justify-content: space-evenly;
    }
   
    .content li {
        flex-basis: 48.5%;
    }

    figure img {
        object-position: 0;
    }

    .romanceFiction span{
        flex-basis: 32.5%;
     
    }

    .loveScience span{
        flex-basis: 32.5%;
    }

    .romanceButton button{
        flex-basis:  100%;
    } 

    footer .footerCompany .genres .list{
        flex-basis: 20%;
    }  
    

    .mains .formContainer .formix{ 
        padding: 2% 5%;
        width:500px;
        border: 1px;
        height:50%;
        border-radius: 19px;
        box-shadow:  0px 0px 20px 5px rgba(0,0,0,0.15);
    }

    .mains .formContainer .formix header{
    text-align: center;
    }
   
}

@media(min-width:500px){
    footer .footerCompany .genres{
        display:flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    /* .reading ul li:nth-child(2) p{
        font-size:14px;
        color:yellow;
    } */
   
}
